body {
    /*background-color: #ffcd58;*/
    background-color: #804620;
    font-family: Georgia, Times, serif;
    margin: auto;
    /*max-width: 950px;*/

}

div {
    margin: 0;
}

a,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0 0 0.5em;
}

header {
    background-color: #dab180;
    color: white;
    padding-top: 1em;
}

main {
    background-color: #f7e7b0;
    padding-bottom: 1em;
    padding-top: 1em;
}

footer {
    background-color: #804620;
    color: white;
    padding-bottom: 1em;
    padding-top: 1em;
}

.content {
    margin: auto;
    max-width: 950px;
    padding-left: 1em;
    padding-right: 1em;
}
